* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: #111;
  color: #fff;
}

a{
  text-decoration: none;
  color: #fff;
}
.container
{
  max-width: 1366px;
  max-height: 100vh;
  margin: 0 auto;

}



/*Navbar Styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #f2f2f2; */
  padding: 24px 120px;

}

.navbar-nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 10px;
}

.nav-link {
  color: #333;
  text-decoration: none;
  margin-right: 24px;
}

.nav-link:hover {
  color: #000;
  
}

.brand-name{
  color: #fff;
  background: linear-gradient(to top,rgb(16, 125, 214),purple 50%);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
  font-weight: 800;
  font-size: 32px;
}


/*Footer Styling*/
.footer {
  background-color: #111;
  padding: 10px;
  text-align: center;
  position: absolute;
  left: 0;
  width: 100vw;
  text-align: center;
}

.footer p {
  color: #fff;
  margin: 0;
}



/*Button Design*/

.button {
  display: inline-block;
  padding: 12px;
  width: 128px;
  font-size: 18px;
  margin: 16px 0px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  /* background-color: #2196F3; */
  background: linear-gradient(to right bottom,purple 40%,#0000FF);
  color: #FFFFFF;
  border-radius: 50px;
  border: none;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.button:hover {
  background-color: #0573da;
}