.mainContainer{
  height: 100vh;

}
.mainContainer::-webkit-scrollbar {
  display: none;
}
.container {
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 50px 10px;
  }
  
  .image{
    object-fit: cover;
  }
  
  .content {
  }
  
  .title{
    margin-bottom: 10px;
  }
  
  .desc{
    font-size: 18px;
    color: #999;
  }